@model IEnumerable<Employee>

@{
    //Layout = "~/Views/Shared/_Layout.cshtml"; //Layout="null" //ViewStart file used
    ViewBag.Title = "Employee List";
}

<div class="card-deck">
    @foreach (var employee in Model)
    {
        var PhotoPath = "~/images/" + (employee.PhotoPath ?? "no-image.jpg");
        <div class="card m-3" style="min-width:18rem; max-width:30.5%;">
            <div class="card-header">
                <h4>@employee.Name</h4>
            </div>
            <div class="card-body">
                <img class="card-img-top mb-1 imageThumbnail" src="@PhotoPath" asp-append-version="true" />
                @*<div>@employee.Id</div>
                    <div>@employee.Department</div>*@
                <div>@employee.Email</div>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.EncryptedId" class="btn btn-primary m-1">View</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@employee.EncryptedId" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
   
@section Scripts{

    <script src="~/js/CustomScript.js"></script>
}
